html, body {
    overflow: auto;
}

/*Login Screen*/

#loginBox {
    width: 40%;
    margin: 0 auto;
    height: 300px;
    background-color: whitesmoke;
    margin-top: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    display: table;
}

.login-layout {
    width: 80%;
    margin: 0 auto;
    display: table !important;
    margin-top: 40px;
}

/*Main Screen*/

/*Before Token Validation*/

@media only screen and (min-width: 320px) {
    #tokenContainer {
        width: 90%;
        margin: 0 auto;
        margin-top: 100px;
        background-color: ghostwhite;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 5px;
        display: table;
    }
    .token-layout {
        display: table !important;
        padding: 40 0 40 0;
        width: 80%;
        margin: 0 auto;
    }
    .token-input {
        margin-top: 30px;
    }
    .review-dialog {
        width: 90% !important;
    }
}

@media only screen and (min-width: 768px) {
    #tokenContainer {
        width: 70%;
        margin: 0 auto;
        margin-top: 100px;
        background-color: ghostwhite;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 5px;
        display: table;
    }
    .token-layout {
        display: table !important;
        padding: 40 0 40 0;
        width: 80%;
        margin: 0 auto;
    }
    .token-input {
        margin-top: 30px;
    }
    .review-dialog {
        width: 60% !important;
    }
}

@media only screen and (min-width: 1024px) {
    #tokenContainer {
        width: 40%;
        margin: 0 auto;
        margin-top: 100px;
        background-color: ghostwhite;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 5px;
        display: table;
    }
    .token-layout {
        display: table !important;
        padding: 40 0 40 0;
        width: 80%;
        margin: 0 auto;
    }
    .token-input {
        margin-top: 30px;
    }
    .review-dialog {
        width: 40% !important;
    }
}

/*After Token Validation*/

#reviewValue {
    font-size: 4em;
    padding: 5px;
    border-radius: 5px;
    width: 85px;
    text-align: center !important;
    margin-bottom: 15px;
}

.review-value-low {
    color: white !important;
    background-color: tomato;
}

.review-value-medium {
    color: white !important;
    background-color: orange;
}

.review-value-high {
    color: white !important;
    background-color: green;
}

.review_dialog_note_layout {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}