@media only screen and (min-width: 320px) {
.vbox-login{
    width: 80%;
}
.logoImage{
    width: 200px;
    /* height: auto; */
    /* min-width: 20px; */
    /* max-width: 200px; */
    align-self: center;    
    margin: 0 auto 0 auto;
    display: block;    
}
}
@media only screen and (min-width: 768px) {
.vbox-login{
    width: 60%;
}
.logoImage{
    width: 300px;
    height: auto;
}
}
@media only screen and (min-width: 1024px) {
.vbox-login{
    width: 30%;
}
}

/* Not relevant for screen size */
.loginGlobalizationSeparator{
    border-top: 1px solid lightgrey !important;
    /* margin: 3rem 8rem 0 !important; */
}
.partnerProfilePicture{
    padding: 3px;
    background-color: cadetblue;
    border-radius: 50%;
}
.reviewTileContent{
    width: 95% !important;
}
/* span.sapMBtnInner.sapMBtnEmphasized{
    background-color: #d52941 !important;
    border-color: #d52941 !important;
    color: white !important;
}
span.sapMBtnInner.sapMBtnEmphasized:hover{
    background-color: #9e173e !important;
    border-color: #9e173e !important;
    color: white !important;
}
span.sapMBtnInner.sapMBtnEmphasized:active{
    background-color: #d3416a !important;
    border-color: #d3416a !important;
    color: white !important;
}
.sapMBtnIcon{
    color: white !important;
}
div.sapMBar span.sapMBtnContent,
footer.sapMPageFooter span.sapMBtnContent{
    color: white !important;
}
div.sapMIBar > button > span.sapMBtnInner.sapMBtnDefault:hover{
    background-color: #9e173e !important;
    border-color: #9e173e !important;
    color: white !important;
}
div.sapMIBar > button > span.sapMBtnInner.sapMBtnDefault:active{
    background-color: #d3416a !important;
    border-color: #d3416a !important;
    color: white !important;
} */
/* span[id*="pause-play-icon"]{
    line-height: unset !important;
}
.sapMTileCnt.News{
    background-color: rgba(150, 17, 35, 0.7) !important;
}
.sapMDialog>header.sapMDialogTitle .sapMTitle{
    color: #333 !important;
} */
.sapUiLocalBusyIndicatorAnimation>div::before{
    background: #9c2727 !important;
}
.sapUiLocalBusyIndicatorAnimation>div::after{
    box-shadow: inset 0 0 2px 1px #9c2727 !important;
}